.footer-container {
  width: 100%;
  /* border-top: 1px solid #f0f0f0; */
  padding: 15px 0 20px;
}

.footer-container p {
  color: #fff;
}

.my-profiles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-profiles img {
  width: auto;
  height: 50px;
}