.trailer-container {
    margin: 30px 25px 0 0;
}

.popup-content {
    margin: auto;
    background: #000 !important;
    width: 75% !important;
    padding: 5px;
    border: none !important;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
    background: transparent;
}

@media only screen and (max-width: 767px) {
    .popup-content {
        width: 90% !important;
    }
}